.p_button {
    background: radial-gradient(50% 44.53% at 50% 100%, #A47CF3 0%, #683FEA 100%);
    width: 128px;
    height: 48px;
    border-radius: 50px;
    border: 0;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
}