.people_card {
    border-radius: 20px;
    padding: 10px;
    width: 290px;
    background: rgb(164 124 243 / 7%);
    color: #fff;
    border: 2px solid #a47cf3;
}

.text-muted {
    text-align: justify;
}

.img-muted {
    border-radius: 50%;
}

.card-body {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.people_card .title {
    font-size: 20px
}