.home_page {
    background-image: url(../images/background.png);
    min-height: 100vh;
    padding: 20px 30px;
    background-position: center;
    background-size: cover;
}

.list_people {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
}