.home_page {
    background-color: #0b0909;
    min-height: 100vh;
    padding: 20px 30px;
}

.list_people {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
}