body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Inter";
}

@font-face {
  font-family: "Inter";
  src: url("../src/font/Inter-Regular.woff");
}

@font-face {
  font-family: "InterBlack";
  src: url("../src/font/Inter-Black.woff");
}

@font-face {
  font-family: "InterBold";
  src: url("../src/font/Inter-Bold.woff");
}